{% extends 'account/base/base_account.html' %}

{% block title %}
Документы
{% endblock title %}


{% block content_account %}
<div class="my-portfolio-table">
  <div class="thead">Документ</div>
  <div class="thead">Описание</div>
  <div class="thead">Дата загрузки</div>
  <div class="thead"></div>
  {% for document in documents_list %}
  <div class="tbody"><a href="{{ document.file.url }}"> Ссылка </a></div>
  <div class="tbody">{{ document.title }}</div>
  <div class="tbody">{{ document.date_added }}</div>
  <div class="tbody"></div>
  {% endfor %}
  <div class="psw-change"><p><a href="{% url 'add_documents' role=role %}">добавить</a></p></div>
</div>
{% endblock content_account %}