{% extends 'account/base/base_account.html' %}

{% block title %}
Мои курсы
{% endblock title %}


{% block content_account %}
{% for education in educations %}
<div class="course-progress">
  <div class="courses-lk">
    <h1>{{ education.education.title }}</h1>
    <div class="status">в процессе</div>
    <div class="state">5</div>
    <div class="info">
      <a href="{% url 'student_course_detail' role=role id_education=education.education.id %}">Подробнее</a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content_account %}