{% extends 'account/base/base_account.html' %}

{% block title %}
Мои дисциплины
{% endblock title %}


{% block content_account %}
{% for education in educations %}
<div class="course-progress">
  <div class="courses-lk">
    <h1>{{ education.education.title }}</h1>
    <div class="state">{{ education.education.get_program_type }}</div>
    <div class="info">
      {% if education.education.is_online %}
        <a href="{% url 'education_detail' role=role id_education=education.education.id %}">Подробнее</a>
      {% else %}
        <a href="{% url 'education_detail_ofline' role=role id_education=education.education.id %}">Подробнее</a>
       {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% endblock content_account %}