{% extends 'account/base/base_account.html' %}
{% load static %}

{% block title %}
{{ education.title }}
{% endblock title %}

{% block content_account %}
<section id="container" class="container">
    <div class="container">
        <div class="subject-page-wrapper">
            <div class="sublect-page-content">
                <nav class="page-nav">
                    <div class="sector">
                        <a href="#part1">Раздел 1. Начало</a>
                    </div>
                    <div class="sector">
                        <a href="#part2">Раздел 2. Середина</a>
                    </div>
                    <div class="sector">
                        <a href="#part3">Раздел 3. Конец</a>
                    </div>
                    <div class="sector">
                        <a href="#part4">Раздел 4. Итоги</a>
                    </div>
                </nav>
                <div class="page-content">
                    <h3 id="part1">Раздел 1. Начало</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam incidunt et veritatis ullam
                        dolores, maxime placeat mollitia blanditiis quae optio! Laboriosam quo quasi alias debitis magni
                        voluptates quam? Maxime, possimus ab reiciendis dolores inventore vel tempore unde nesciunt eius
                        quisquam quod nostrum deserunt assumenda veritatis laboriosam dolorem accusantium labore facilis
                        sit sed laborum temporibus blanditiis, neque consequatur. Error ducimus ipsam ab, provident
                        suscipit animi porro nesciunt. Inventore fugit ea ratione at magni repudiandae cumque ducimus
                        quibusdam! In expedita aperiam molestias ullam quidem modi accusantium nemo ex debitis dolor
                        esse omnis animi asperiores aliquam, quod consequatur nesciunt magnam officiis, amet hic!</p>
                    <h3 id="part2">Раздел 2. Середина</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, rerum facere consequuntur nulla
                        obcaecati nisi adipisci dolor sit id esse animi nesciunt, mollitia tempora corrupti repudiandae
                        exercitationem quod minus ipsam maxime! Fuga officiis fugiat nobis soluta, sequi distinctio sunt
                        sed eveniet ullam incidunt quibusdam eius minus suscipit mollitia voluptas hic quos nostrum
                        fugit laboriosam expedita ipsa earum! Nam tempore velit consequuntur accusantium recusandae,
                        neque voluptatibus quibusdam debitis voluptate, autem asperiores maiores. Esse, eum. Fugiat,
                        consectetur quod maxime explicabo, labore voluptatibus temporibus nihil consequatur dicta atque,
                        alias repellendus corrupti! A molestiae animi vero fugiat dolorum expedita facilis, nesciunt
                        consequatur? Maiores dolores at quisquam quidem fuga repudiandae amet numquam commodi et atque
                        dignissimos harum dolorum aut nobis eveniet error, enim minima saepe expedita ratione, doloribus
                        minus. Perspiciatis dolor facere corporis magni, odio reiciendis non sint eveniet eaque laborum
                        voluptates, fugit adipisci eius omnis et soluta voluptatibus. Porro aliquid accusamus quis
                        dolor, odio impedit eum minus, placeat molestias, expedita autem laudantium culpa voluptatibus
                        et voluptatum veniam odit saepe quam officia quasi repellendus aut eaque? Tempore ipsum natus,
                        doloribus officia provident a distinctio molestiae magni optio eius vitae? Odio laudantium et
                        eligendi distinctio consequatur nulla at hic quia adipisci temporibus. Suscipit repudiandae
                        facilis id at vero debitis molestiae, ducimus voluptatem iusto similique beatae blanditiis
                        quisquam amet voluptas ullam reiciendis exercitationem excepturi esse nam quae eos est aut.
                        Molestiae, rem eveniet vitae aperiam dicta corrupti incidunt aliquam nobis placeat ullam
                        accusamus, alias non iure ducimus aut doloremque veniam unde magnam tempora commodi officiis
                        quidem dolor voluptatem! Explicabo ad iste tenetur dolorem dolorum natus tempore ex, dolor
                        expedita ratione ducimus hic necessitatibus sunt impedit quae aliquid, maiores earum praesentium
                        assumenda at quia temporibus perspiciatis. Mollitia quasi voluptates alias adipisci beatae
                        pariatur quo nobis assumenda illum excepturi maxime, molestias cumque ipsum optio eos corrupti
                        perferendis nisi. Minus odio impedit, nemo ipsum alias aut vero earum voluptatem corrupti vitae
                        eos ipsa, aliquam aspernatur veritatis repellat est cum veniam quidem odit omnis facere in
                        dignissimos. Repellat voluptates sunt repudiandae expedita quidem nobis architecto maiores illum
                        in corporis animi quisquam esse numquam molestiae ea accusamus soluta, earum atque dolore magnam
                        fugiat tenetur ipsam? Accusamus, non suscipit? Quo quos, dicta nostrum quisquam ad odio natus
                        consequatur quam dolorum maiores! Quis quasi consequatur est officia animi, doloribus distinctio
                        ex assumenda inventore eius sit nostrum, eaque quibusdam temporibus, sequi culpa pariatur? Atque
                        inventore ipsa sequi dolorum. Nesciunt laborum laudantium ullam enim delectus atque qui officia
                        nostrum. Ipsa id rem dolorem ad temporibus libero saepe quasi voluptas excepturi. Numquam
                        suscipit officia vel animi, aperiam ab eius repudiandae sequi ullam modi deleniti asperiores
                        consequatur nesciunt, voluptatem culpa quam quae illo consectetur nam pariatur rerum earum!
                        Dolor expedita totam dolores quaerat eaque? Praesentium eos ab iusto vitae, quaerat rerum quasi
                        neque! Quibusdam voluptatibus laudantium commodi quae illo, nulla debitis quos? Minus odio
                        doloribus corporis cupiditate, aperiam at libero repellat! Consequatur molestias adipisci
                        suscipit odit voluptatibus fugit itaque omnis deleniti vel aspernatur, minima ad impedit,
                        doloremque nulla vero excepturi at temporibus alias possimus natus cupiditate error.
                        Possimus?</p>
                    <h3 id="part3">Раздел 3. Конец</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quisquam, impedit soluta
                        maxime cupiditate iure unde assumenda et facilis ullam, neque illo rem explicabo nostrum enim,
                        ad quibusdam ipsam atque beatae quia iusto dolore mollitia! Animi nesciunt nemo culpa? Et est
                        magnam libero nisi natus vitae, aperiam exercitationem similique nesciunt reiciendis dolorem
                        quaerat iure id. Esse deserunt est beatae consectetur architecto rem similique adipisci
                        perspiciatis exercitationem impedit laudantium sint voluptate quasi quo tempore nulla, aliquid
                        molestiae labore, culpa deleniti! Veritatis cupiditate, vel porro voluptate deserunt excepturi
                        harum voluptatum dolorem! Eos eveniet animi odit nesciunt reiciendis, quod officiis. Corrupti
                        maiores minus facilis reprehenderit omnis doloremque earum exercitationem perspiciatis cumque
                        rerum, deleniti ipsum eveniet libero? Iure quod debitis ex sequi animi autem sapiente, explicabo
                        quisquam, exercitationem odio nisi nesciunt obcaecati pariatur beatae, tempore dignissimos odit
                        eligendi aliquam reprehenderit quidem. Dolorem eius id, accusamus distinctio inventore quasi
                        deserunt at totam cum et consequatur dicta. Sequi expedita saepe maxime nisi, nihil ipsam minima
                        tempore aut sed quam incidunt obcaecati alias at ea magni dicta itaque! Aspernatur doloribus
                        dolores vel consectetur neque, doloremque ad, obcaecati, rerum in vero incidunt. Minus, optio
                        commodi esse eligendi veniam eos nam quo modi nemo in tempore eum, consequuntur facilis
                        doloremque ut dolorem dolore placeat, inventore ea necessitatibus! Iusto minima deleniti maiores
                        iste, veniam, aperiam rem aut officiis saepe nisi eveniet voluptatum corporis dolores omnis ut
                        soluta excepturi facere qui. Officiis labore, amet rerum fuga officia numquam libero repellat
                        alias doloremque, perferendis temporibus nesciunt eaque atque itaque! Adipisci voluptatem sequi
                        ipsum soluta sapiente repellendus laborum ad aspernatur quas blanditiis delectus distinctio,
                        tempore vero eos velit aut, vel, nam atque odit possimus inventore obcaecati repudiandae
                        expedita sunt? Officia quibusdam rem illum a vero pariatur est debitis cum quam necessitatibus
                        non, modi laboriosam possimus, quaerat provident? Blanditiis cum tempore architecto sed
                        excepturi.</p>
                    <h3 id="part4">Раздел 4. Итоги</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti minima vel expedita distinctio
                        voluptates fugiat consequuntur odio repudiandae hic. Ipsum reiciendis nemo ab ut autem quo!
                        Minima quos optio provident omnis eaque tenetur culpa, possimus consequuntur eum, rerum nobis
                        eos officia aliquam quisquam quis, dicta perferendis cupiditate error laboriosam vitae? Corrupti
                        deleniti iusto nostrum ut itaque nesciunt quos odit rerum eaque iste magni ipsum veniam facere
                        aut fugit, harum qui?</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}