{% extends 'account/base/base_account.html' %}

{% block title %}
Расписание
{% endblock title %}


{% block content_account %}
<div class="my-schedule-table">
        <div class="thead">Дата</div>
        <div class="thead">Дисциплина</div>
        <div class="thead">Преподаватель</div>
        <div class="thead">Время</div>
        <div class="thead">Вид занятия</div>
        <div class="tbody">05.07TECT</div>
        <div class="tbody">ПрограммированиеTECT</div>
        <div class="tbody">ПреподавательTECT</div>
        <div class="tbody">16:15TECT</div>
        <div class="tbody">ЛПTECT</div>
      </div>
{% endblock content_account %}