{% extends 'account/base/base_account.html' %}

{% block title %}
{{ education.title }}
{% endblock title %}

{% block content_account %}
<div class="container">
    <h1 class="status">{{ education.title }}</h1>
    <div class="status">{{ education.description }}</div>
    <div class="status">{{ education.date_added }}</div>
    <div class="state">{{ education.date_start }}</div>
    <div class="state">{{ education.get_program_type }}</div>
    <div class="state">{{ education.author.full_name }}</div>
    {% include 'account/teacher/subjects_list.html' with subjects=education.education_subjects.all%}
</div>
{% endblock content_account %}
